<% include partials/header %>

                    
                <section id="sobreMim" class="container text-center">
                   <!-- <article>-->
                        <header>
                          <h2>Sobre o autor<h2>
                          <p class="byline">Daniel Orlandi</p>                      
                          <h4>5554-991622577.</h4>
                          <h4>danielorlandi.dev@gmail.com</h4>
                          <address>Daniel Orlandi, github.com/danielodev</address>
                        </header>
                        <blockquote>
                            "Run, rabbit run
                            dig that hole, forget the sun
                            and when at last the work is done
                            don't sit down it's time to dig another one" <br />
                        </blockquote>
                        <!--</article>-->

                        <figure class="figure">
                            <img src="images/JStoNode.jpg" alt="NodeJS" height="200" width="500">
                        </figure>
                  <!--<address>
                  <ul style="color:black">Dados sobre o desenvolvedor
                    <ol>Daniel Orlandi</ol>
                    <ol>54-99999999</ol>
                    <ol>é oq tem</ol>
                   </ul>-->

                  <!--<h1><img src="/public/images/JS.png" alt="NodeJS"></h1>-->
                  <!--<p class="lead">Dados do desenvolvedor</p>-->
              
                          

             
              <!--<img style="float:inline-end" src="/images/JStoNode.jpg" alt="NodeJS">-->
            
            
                </section>
   
    <% include partials/footer %>